NET "clk" CLOCK_DEDICARED_ROUTE = FALSE;

NET "count[3]" LOC ="NJ4" | IOSTANDARD = LVCMOS33;
NET "count[2]" LOC ="J13" | IOSTANDARD = LVCMOS33;
NET "count[1]" LOC ="K15" | IOSTANDARD = LVCMOS33;
NET "count[0]" LOC ="H17" | IOSTANDARD = LVCMOS33;

NET "reset" LOC = "L16" |IOSTANDARD = LVCMOS33;
NET "CE" LOC= "J15" |IOSTANDARD = LVCMOS33;

NET "clk" LOC = "N17" |IOSTANDARD = LVCMOS33;